*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
build
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
.DS_Store
Pods

soe/bat/*
soe/obj/*
soe/bin/*
soe/air/*
soe/AIR_readme.txt

build/lf.build/Release-iphoneos/lf.build/dgph

Cartfile.resolved
Carthage/*

Package.resolved
HaishinKit.xcodeproj/project.xcworkspace/xcuserdata/shogo.xcuserdatad/WorkspaceSettings.xcsettings
docs/undocumented.json

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
project.xcworkspace/
xcuserdata/

# AppCode
.idea/
