*.xcodeproj/xcuserdata/*
*.xcworkspace/xcuserdata/*
build
.build
*.xccheckout
*.moved-aside
*.xcscmblueprint
.DS_Store
Pods

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace/
project.xcworkspace/
xcuserdata/

# AppCode
.idea/

# Podfiles
Pods/

# Fastlane
fastlane/report.xml

soe/bat/*
soe/obj/*
soe/bin/*
soe/air/*
soe/AIR_readme.txt

Cartfile.resolved
Carthage/*

Package.resolved
docs/undocumented.json
